@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model checkboxmvc.Models.Company
@using (Html.BeginForm("Index", "Company", FormMethod.Post))
{
    <h6>Enter Name</h6>
    @Html.TextBoxFor(m=>m.Name)
    <br />
    <h6>Enter sal</h6>

    @Html.TextBoxFor(m=>m.sal)
    <br />
    <h6>hr</h6>

    @Html.CheckBoxFor(m=>m.hr,true)

    <h6>da</h6>

    @Html.CheckBoxFor(m=>m.da,true)

    <h6>ta</h6>

    @Html.CheckBoxFor(m=>m.ta,true)
    <br />
    <input type="submit" value="ok">

}
@ViewBag.Name<br />
@ViewBag.sal<br />

@ViewBag.res<br />
@ViewBag.res1
<br />
@ViewBag.res2
<br />

