@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model checkboxmvc.Models.Company
@using (Html.BeginForm("Index", "Company", FormMethod.Post))
{
    <center>
    <h1 style="color:red">Employee Salary Details</h1>
    <br>

    <h6>Enter Name</h6>
    @Html.TextBoxFor(m=>m.Name)
    <br />
    <h6>Enter sal</h6>

    @Html.TextBoxFor(m=>m.sal)
    <br />
    <br>
    <span>hr</span>

    @Html.CheckBoxFor(m=>m.hr,true)

    <span>da</span>

    @Html.CheckBoxFor(m=>m.da,true)

    <span>ta</span>

    @Html.CheckBoxFor(m=>m.ta,true)
    <br />
    <input type="submit" value="ok">
    </center>

}
<center>
<h1>Employee Details</h1>
Name:@ViewBag.Name<br />
HR:@ViewBag.res<br />
DA:@ViewBag.res1
<br />
TA:@ViewBag.res2

<br />
Total Sal:@ViewBag.res3;
</center>
