@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model radiomvc.Models.Reg
@using (Html.BeginForm("Index", "Reg", FormMethod.Post))
{
    <h1>Registration Details</h1>
    <hr />
    <br />
    <h6>Enter name</h6>
    @Html.TextBoxFor(m=>m.name)
    <br />
    <h6>Enter password</h6>
    @Html.TextBoxFor(m=>m.password)
    <br />
    <hr />
    <h6>Enter email</h6>
    @Html.TextBoxFor(m=>m.email)
   <br />
   <hr />
    <span>male</span> @Html.RadioButtonFor(m=>m.gender,"male")
    <span>female</span> @Html.RadioButtonFor(m=>m.gender,"female")
    <br />
    <hr />
   <span>sub1</span> @Html.CheckBoxFor(m=>m.sub1,true)
    <span>sub2</span>@Html.CheckBoxFor(m=>m.sub2,false)
   <br />
   <hr />
    <input type="submit" values="ok">
}
<hr />
<br />
<h6>Details of User</h6>
Name is:@ViewBag.name <br />

Password:@ViewBag.password<br />
Email is:@ViewBag.email<br />
Gender is:@ViewBag.gender<br />
@ViewBag.res<br />
@ViewBag.res1<br />