@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model radiomvc.Models.Radio
@using (Html.BeginForm("Index","Radio",FormMethod.Post))
{
    <h1><b>Operators</b></h1>
    <hr />
    <h5>Enter number</h5>
    <br />
    @Html.TextBoxFor(m=>m.n1)
    <br />
    <h5>Enter number</h5>
    <br />
    @Html.TextBoxFor(m=>m.n2)
    <br />
    <br />
    <hr />
  <span><h1>Add</h1></span> @Html.RadioButtonFor(m=>m.caltype,"add")
    <span>Sub</span>@Html.RadioButtonFor(m=>m.caltype,"sub")
    <span>mul</span>@Html.RadioButtonFor(m=>m.caltype,"mul")
    <br />
    <hr />
    <input type="submit" values="ok">
}
<hr />
<br />
<h2>Result is:</h2>

@ViewBag.res