@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model operatormvc.Models.Student
@using (Html.BeginForm("Index", "Student", FormMethod.Post))
{
    <h5>Enter sub1</h5>
    @Html.TextBoxFor(m=>m.n1)
    <br />
    <br />
    <hr />
    <h5>Enter sub2</h5>
    @Html.TextBoxFor(m=>m.n2)
    <br />
    <br />
    <hr />
    <h5>Enter sub3</h5>
    @Html.TextBoxFor(m=>m.n3)
    <br />
    <hr />
    <h5>Enter sub4</h5>
    @Html.TextBoxFor(m=>m.n4)
    <br />
    <hr />
    <h5>Enter sub5</h5>
    @Html.TextBoxFor(m=>m.n5)
    <br />
    <input type="submit" value="ok" />

}
<hr />
<h5>Total Amount</h5>
result : @ViewBag.result;
<hr />
per : @ViewBag.per;
<hr />
grade: @ViewBag.grade;